.admins{
    background-color: black;
}
.dee{
    background-color: rgb(56, 27, 185);
}
.dee1{
    background-color: rgba(33, 51, 209, 0.897);
}
.dee2{
    background-color: rgba(33, 51, 209, 0.897);
}
.dee3{
    background-color: rgba(8, 23, 161, 0.897);
}
.width1{
    max-width: max-content;
}