$color-primary:  #d32e11;;

.newspan {
  color: $color-primary;
}
.satindividulize{
 padding-right:89px;
} 
 .satstudent{
 padding-right:116px;
  }
.satconfidence{
 padding-right: 5.7rem;
  }
.satPrepMat{
  padding-right: 8.5rem;
}
.satMaximum{
  padding-right:5.8rem;
  padding-top: 1px;
}
