* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(199, 233, 148, 1) 100%
    );
  } */
  
  /* .sat-faq {
    text-align: center!important;
    margin: 2rem 0 4rem 0!important;
  } */
  
  .accordion {
    max-width: 98%;
    margin: 2rem ;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: transparent;
    cursor: pointer;
    background-color: #A696F8;
    border-radius: 20px;
  }
  
  .accordion-title:hover {
    background-color: #A696F8;
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
    margin-top: 1rem;

  }
  .accordion-item{
     margin-top:7px;
    background-color: #E4E1F5;
    
    border-radius: 20px ;
    
  }
  .accordion-content {
    background-color: #E4E1F5;
    border-radius: 20px;
    
  }
  .textIcon{
    font-weight: 700;
    font-size: 19px;
  }
  @media screen and (max-width: 700px) {
    body {
      font-size: 18px;
    }
  
    .accordion {
      width: 90%;
    }
  }
  