.satdiff{
    position:relative;
    bottom:1.25rem;
    left:1.5rem;
}

.satTextColor{
    color:#6A53E1;
 
}
.schduledFreeBtn{
    background-color: #6A53E1;
}
.sat-mainImage{
    
        /* The image used */
        background-image: url("/images/sat-landing-img.png");
        display: flex;
      
        /* Full height */
        height: 100%; 
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
}
.satdifBackColor{
    background-color: #F1EDFF;
}
.sat50stu{
    width: 28%;
}
.stuText7test{
    margin-bottom: 4px;
}
.satclass7{
    padding-left:27px;
    padding-top:1px;
}
@media only screen and (max-width: 425px){
   .mobGroup{

    font-size: 13px;
    padding-top: 0px;
   }
   .mobGimg{
     margin-left:0.1rem;
   }
   .mobGsecimg{
     margin-left: 3rem;
   }
   .mobPrepMat{
       padding-right: 30px!important;
       font-size: 13px;
       padding-top: 0px;
   }
   .mobPrepday{
    padding-right: 25px;
    font-size: 13px;
    padding-top: 0px;
   }
   .mobIndiv{
    font-size: 13px;
    padding-right: 2px!important;
    padding-top:0px;
   }
   .mobStudent{
    font-size: 13px;
    padding-right: 20px!important;
    padding-top:0px;
   }
   .mobConfidence{
    font-size: 13px;
    padding-right: 5px!important;
    padding-top:0px;   
   }
   .mobPrep{
    font-size: 13px;
    padding-right: 27px!important;
    padding-top:0px;   
   }
   .mobMax{
    font-size: 13px;
    /* padding-right: 17px!important; */
    padding-top:1px; 
    padding-right: 0px!important;
    width: 32%;
    
   }
   .stuText{
       font-size: 13px;
   }
   .stuText7{
    padding-left: 15px!important; 
   }
   .stuText9{
    padding-left: 16px;
   }
   .stuText10{
    padding-left: 40px;
   }
   .mobstuTextSylabus{
    padding-right: 21px!important;
    /* padding-top: 1px; */
 }
  .satImage{
      padding-top: 18px;
  }
  .schduledFreeBtnMain{
    margin-left: 21%;
    position: relative;
    top: 45px;
    z-index: 1;
    }
  .accordianText{
      font-size:15px;
  }
  .accordianContent{
      font-size: 13px;
  }
  }
@media only screen and (max-width: 768px){
    .stuTextSylabusMax{
       padding-right: 122px; 
       /* padding-top: 1px; */
    }
    .stuTextSylabus{
        /* padding-right: 118px!important; */
        /* padding-top: 1px; */
     }
     .tabGsecimg{
         margin-left:3rem;
     }
     .tabStuText{
        padding-left: 31px;
     }
    .satclass7tab{
        padding-left:2px!important;
    }
    .schduledFreeBtn{
        margin-left:22%
    }

}

